@model PortfolioManagerWeb.Models.InvestmentPriceSummaryDecorator

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Price Update</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(model => model.InvestmentPriceSummary.InvestmentId)
        @Html.DisplayFor(model => model.InvestmentPriceSummary.InvestmentName)
        @Html.DisplayFor(model => model.InvestmentPriceSummary.LatestSellPrice)
        @Html.DisplayFor(model => model.InvestmentPriceSummary.LatestSellPriceDate)
        @Html.DisplayFor(model => model.InvestmentPriceSummary.LatestBuyPrice)
        @Html.DisplayFor(model => model.InvestmentPriceSummary.LatestBuyPriceDate)


        @Html.LabelFor(model => model.ValuationDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ValuationDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ValuationDate, "", new { @class = "text-danger" })
        </div>
        

        @Html.LabelFor(model => model.NewSellPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NewSellPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewSellPrice, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.NewBuyPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NewBuyPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewBuyPrice, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}
