@model  PortfolioManagerWeb.Models.DecoratedAccountInvestmentDto

@{
    ViewBag.Title = "LinkInvestments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<dl class="dl-horizontal">

    <dd>
        @Html.DisplayFor(model => model.Account.AccountId)
    </dd>

    <dd>
        @Html.DisplayFor(model => model.Account.Name)
    </dd>

</dl>

<H2>Unlinked Investments</H2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Investments)
        {
            <tr>
                <td>
                    @Html.LabelFor(model => item.IsSelected, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => item.IsSelected, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => item.IsSelected, "", new { @class = "text-danger" })
                    </div>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Investment.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Investment.InvestmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Investment.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Investment.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Investment.Class)
                </td>

                <td>
                    @Html.ActionLink( "Link", "LinkAccountToInvestment", "AccountInvestmentMap", new { accountId = Model.Account.AccountId,  investmentId = item.Investment.InvestmentId},null) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.PortfolioAcountId }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.PortfolioAcountId })*@
                </td>
            </tr>
        }
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
}


<h2>Linked Investments</h2>

<table class="table">
    <tr>
        <th>
            Symbol
        </th>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Investments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Investment.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Investment.InvestmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Investment.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Investment.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Investment.Class)
            </td>
            
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.PortfolioAcountId }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.PortfolioAcountId }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.PortfolioAcountId })*@
            </td>
        </tr>
    }
</table>


